<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/bootstrap-grid.min.css">
    <title>Cotizacion</title>
    
    
</head>
<body style="background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);" >
       <br> <div style="border:2px solid rgb(0, 0, 0)"class="container">

        <center>
            <h2>Cotizacion</h2>
        </center>

        <form  style="text-align:center"action="/cotizacion" method="p" >
            <label style="margin: 1em" for="">Valor del Automovil:</label>
            <input style="background:linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);" type="number" id="valor" name="valor" required="true">
            <label style="margin: 1em" for="">Porcentaje de pago inicial:</label>
            <select name="pinicial" id="pinicial">

                <option value="10">10%</option>
                <option value="30">30%</option>
                <option value="50">50%</option>
                <option value="70">70%</option>


            </select><br> <br>
            
            <label style="margin: 0.5em"  for="">Plazos</label>
            <select name="plazo" id="plazo">
            <option value="12">12 meses</option>
            <option value="24">24 meses</option>
            <option value="36">36 meses</option>
            <option value="48">48 meses</option>
            <option value="60">60 meses</option>

            </select>
            <br>
            <br>
            <br>
            <button type="submit">Calcular</button>
            <button type="reset">Limpiar</button>

            <%
            let pagoInicial =0;
            let totalfin = 0;
            let pmensual = 0;

            if(valor!=null){
                pagoInicial = valor * (pinicial/1000);
                totalfin = valor - pagoInicial;
                pmensual = totalfin/plazo;

            

            %>

            <hr>
            <h3>Informacion de la cotizacion</h3>
            <hr><br>

            valor del Automovil : <%=valor%> : Porcentaje de pago inicial : <%=pinicial%>
            Plazo : <%=plazo%> <br>

            Pago Inicial : <%=pagoInicial%> : Total a financiar : <%=totalfin%>

            Pago mensual : <%=pmensual%>


<%}

%>

<br>
<br>
<br>


        </form>


    </div>
</body>
</html>