<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/bootstrap-grid.min.css">
    <title>Practica 01 EJS</title>
</head>
<body>
    <div class="page-header">
    <center>
        <h1> <%=titulo%> </h1>
        <h2 >
            <%=Nombre%> </h2>
        <h2 style="color: rgb(48, 48, 101);">
            <%=Grupo%> </h2>
            <img src="./img/upsin.png" alt="">
            <!-- <img src="./img/error404.webp" alt=""> -->
    </center>
    </div>
    <div class="container">
    <table class="table table-hover table-striped table-dark table-borderless ">
        <thead class="table-sm table-light">
        <tr>
            <th>Matricula</th>
            <th>Nombre</th>
            <th>Sexo</th>
            <th>Materias</th>
        </tr>
        </thead>
        <%
        for(item of listado){
            %>
            <tr>
                <td><%=item.matricula%></td>
                <td><%=item.nombre%></td>
                <td><%=item.sexo%></td>
                <td><%=item.materias%></td>
            </tr>
            <%

        }
%>

    </table>
    </div>
</body>
</html>